body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    touch-action: manipulation; /* タッチ操作での不意な動作を防止 */
}

img {
    max-width: 100%;
    height: auto;
    display: block;  /* 画像がインラインブロック要素として扱われるのを防ぐために追加 */
    -webkit-touch-callout: none; /* タップ時の画像メニューを防止（iOS用） */
    -webkit-user-drag: none; /* 画像のドラッグを防止（iOS用） */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* 画像のテキスト選択を防止 */
}

#responsive-image {
    width: 100%;
    height: auto;
    display: block;  /* 画像が正確に拡大・縮小されるように */
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%; /* レスポンシブ対応のために幅を%で設定 */
    max-width: 300px; /* デスクトップなどの大きな画面での最大幅を設定 */
    touch-action: manipulation; /* ポップアップでのズームやスクロールを防ぐ */
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#popup-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#popup-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007BFF;
    text-decoration: none;
    touch-action: manipulation; /* タッチ操作での不意な動作を防止 */
}

#popup-link:active {
    color: #0056b3; /* タップ時のリンクの色を変更 */
}